page-stock-notice-detail {
    .notice{
        margin:auto;
        max-width: 1200px;
        background-color : transparent;
        background-color : rgba(255,255,255,.2);
        box-shadow: 2px 2px #242930;
        font-color : #ffffff;
    }
}
