<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <div class="login-container">
      <div class='text' padding margin-top margin-bottom >
          <p class="title">MAKABOOM</p>
          <p class="subtitle">imagine, build, code</p>
        </div>
    <!-- <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/prototype-d68e4.appspot.com/o/ionic.png?alt=media&token=b56ebc2e-8fe9-46c8-b523-52a7e44db932" /> -->
    
    <!--*********** Form ***********-->
    <form [formGroup]="loginForm" (submit)="login()" novalidate>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input tappable color="light" #email type="email" formControlName="email" [class.invalid]="!loginForm.controls.email.valid &&loginForm.controls.email.dirty">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input tappable #password type="password" formControlName="password" [class.invalid]="!loginForm.controls.password.valid &&loginForm.controls.password.dirty">
        </ion-input>
      </ion-item>

      <ion-item class="error-message">
        <p *ngIf="!loginForm.controls.email.valid  &&
                loginForm.controls.email.dirty">*Please enter a valid email.</p>
        <p *ngIf="!loginForm.controls.password.valid  &&
                loginForm.controls.password.dirty">*Password needs more than 6 characters.</p>
      </ion-item>
     
      <div class="submit-box">
        <button ion-button mode="ios" block type="submit" color="grey-blue">Log in</button>

        
        <button ion-button type="button" mode="ios" block icon-left color="light" outline (click)="serviceRequest()" margin-top>
            <ion-icon name="ios-create"></ion-icon>Requesting an Account 
        </button>
      </div>
    </form>

  </div>

</ion-content>
<!-- <ion-footer>
  <button class="bottom" ion-button  mode="ios" type="button"  clear full color="light" (click)="forgot()">Forgot your password? </button>
</ion-footer> -->