
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
   @media screen and (max-width: 600px) {
    .desktop {
      display: none;
    }
  }

  @media screen and (min-width: 600px) {
    .mobile {
      display: none;
    }
  }
  body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }

  * {
    box-sizing: border-box;
  }

  .row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }

  .col-25 {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
  }

  .col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
  }

  .col-75 {
    -ms-flex: 75%;
    /* IE10 */
    flex: 75%;
  }

  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }

  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }

  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  label {

    margin-bottom: 10px;
    display: block;
  }

  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }

  .btn {
    background-color: #5277b2;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }

  .btn:hover {
    background-color: #5277b2;
  }

  a {
    color: #2196F3;
  }

  hr {
    border: 1px solid lightgrey;
  }

  span.price {
    float: right;
    color: grey;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */

  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }


  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
    float: left;
  }

  .title {
    color: grey;
    font-size: 14px;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  button:hover,
  a:hover {
    opacity: 0.7;
  }

  .labels {}
</style>

<ion-header>
  <ion-navbar color="grey-blue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <div class="row" style="margin-bottom:50px">
    <div class="col-75">
      <div class="container">
        <div class="row">
          <div class="col-50">
            <h3 margin-top>My Info</h3>

            <div class="labels">

              <label for="fname">
                <i class="fa fa-user"></i> Full Name</label>
              <input type="text" [(ngModel)]="name" id="fname" name="firstname" placeholder="Please Enter your Name">
              <label for="adr">
                <i class="fa fa-address-card-o"></i> Student Number</label>
              <input type="text" [(ngModel)]="employee_number" id="adr" placeholder="student number">
              <label for="email">
                <i class="fa fa-envelope"></i> Email</label>
              <input type="text" [(ngModel)]="email" id="email" name="email" placeholder="Please Enter your Email address">

              <label for="adr">
                <i class="fa fa-phone"></i> Phone Number</label>
              <input type="text" [(ngModel)]="phone_number" id="phone" name="phone_number" placeholder="Please Enter your Phone Number">
              <label for="thumbnail">
                <i class="fa fa-image"></i> Thumbnail Image</label>
              <input type="text" [(ngModel)]="thumbnail" id="thumbnail" name="thumnail_image">

              <div margin-top *ngIf = "uploadPercent | async as pct">
                  <div *ngIf = "pct < 100; else other">
                  <progress [value]="pct" max="100"></progress>
                  {{pct}}%
                  </div>
                  <ng-template #other>
                    <p><font color="primary">Successfully uploaded!</font></p>
                  </ng-template>
                </div>

              <input class="desktop" type="file" accept="image" (change)="uploadFileDesktop($event)" id="fileInput" />
              <label class="desktop" for="fileInput" icon-only ion-button clear>
                <ion-icon color="black" name="add"></ion-icon>
                <ion-icon color="black" name="images"></ion-icon>
              </label>

              <button class="mobile" id="fileInput2" ion-button (click)="uploadFileMobile()"></button>
              <label class="mobile" for="fileInput2" icon-only ion-button clear>
                <ion-icon color="black" name="add"></ion-icon>
                <ion-icon color="black" name="images"></ion-icon>
              </label>
            </div>
          </div>

        </div>
        <!-- <label>
            <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
          </label> -->
        <button ion-button (click)="submit()">Edit</button>
      </div>
    </div>
  </div>

</ion-content>