<style>
    @media screen and (max-width: 800px) {
        .slide {
            height: 500px;
            display: none;
        }
        .card {
            max-height: 150px;
        }
        .card-subtitle {
            margin-top: 20px;
        }
        .desktop {
            display: none;
        }
        
    }
</style>


<ion-header>
    <!--*********** Toolbar with segment ***********-->
    <ion-toolbar style="margin-top:45px" no-border-top color="grey-blue">
        <ion-segment [(ngModel)]="viewType" color="light">
            <ion-segment-button value="Menu">
                Projects
            </ion-segment-button>
            <ion-segment-button value="Notice">
                Notice
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>

<ion-content class="opa" no-padding [ngStyle]="{'background-image': 'url('+backgroundImage+')'}">
    <!-- <ion-slides pager="true" parallax="true" padding>

                <ion-slide>
                  <img src="https://firebasestorage.googleapis.com/v0/b/prototype-d68e4.appspot.com/o/galaxy7.png?alt=media&token=bd8623ca-11b7-484d-84f6-9bc0a6e68ba4">
                  <h1>Welcome to my app!</h1>
                </ion-slide>
            
                <ion-slide>
                  <img src="https://firebasestorage.googleapis.com/v0/b/prototype-d68e4.appspot.com/o/iphone88.jpg?alt=media&token=5de53cbe-a743-4fd8-a7ef-f34df9f4f015">
                  <h1>All of the features</h1>
                  <p>Here's what you can do with the app...</p>
                </ion-slide>
            
                <ion-slide>
                  <img src="https://firebasestorage.googleapis.com/v0/b/prototype-d68e4.appspot.com/o/zenbookj.jpg?alt=media&token=0b4ba833-c939-425b-8356-bd0d1d6f347f">
                  <h1>Get started now!</h1>
                  <button ion-button outline small (click)="navHome()">
                    Start using the app
                  </button>
                </ion-slide>
            /ion-slides> -->
    <!-- <div class="header"> -->

    <!-- </div> -->



    <!--*********** Menu View  ***********-->
    <div *ngIf="viewType==='Menu'">

        <ion-slides id="slide" class="slide" autoplay="2000" loop="true" speed="2000">
            <ion-slide>
                <div class="card-background-page">
                    <img class="slide_img" src="https://firebasestorage.googleapis.com/v0/b/makaboom-4e68b.appspot.com/o/IMG_5850.JPG?alt=media&token=2ac725e8-7dfd-4fc2-a7ff-bae8b1e1670a">
                    <h1 class="card-title">MAKABOOM</h1>
                    <div class="card-subtitle">
                        <h5>imagine, build, code</h5>
                        </div>

                </div>
            </ion-slide>
            <ion-slide>
                <div class="card-background-page">
                    <img class="slide_img" src="https://firebasestorage.googleapis.com/v0/b/makaboom-4e68b.appspot.com/o/Copy%20of%20IMG_4692.HEIC?alt=media&token=32e6714e-ecd2-4726-9370-b791f50468de">
                    <h1 class="card-title">MAKABOOM</h1>
                    <div class="card-subtitle">
                        <h5>imagine, build, code</h5>
                        <!--<button color="white" ion-button outline (click)="openRepairPage()">
                            CLICK!
                        </button>-->
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                    <div class="card-background-page">
                        <img class="slide_img" src="https://firebasestorage.googleapis.com/v0/b/makaboom-4e68b.appspot.com/o/IMG_5882.JPG?alt=media&token=2432f071-23d4-44ce-9a14-930386a8f3e5">
                        <h1 class="card-title">MAKABOOM</h1>
                        <div class="card-subtitle">
                            <h5>imagine, build, code</h5>
                            <!--<button color="white" ion-button outline (click)="openRepairPage()">
                                CLICK!
                            </button>-->
                        </div>
                    </div>
                </ion-slide>
        </ion-slides>

        <div class="card-background-page">
            <ion-row>
                <ion-col col-12 col-md-12>
                    <ion-card class="card" (click)="openManage()">
                        <img src="https://firebasestorage.googleapis.com/v0/b/makaboom-4e68b.appspot.com/o/op_on.JPG?alt=media&token=573f4869-cd0a-47f0-9cf3-319733fd8a45"
                            height="350" />
                            <div class="card-title">Project OnGoing</div>
                            <div class="card-subtitle">My Robot is Getting Cool!</div>
                    </ion-card>
                </ion-col>

                <ion-col col-12 col-md-12>
                    <ion-card class="card" (click)="openLog()">
                        <img src="https://firebasestorage.googleapis.com/v0/b/makaboom-4e68b.appspot.com/o/op_com.JPG?alt=media&token=afd20c67-f196-40a0-899e-5bd08f1c5351"
                            height="350" />
                            <div class="card-title">Project Completed</div>
                            <div class="card-subtitle">The Robots I Made!</div>
                    </ion-card>
                </ion-col>
                <ion-col col-12 col-md-12>
                    <ion-card class="card" (click)="openAll()">
                        <img src="https://firebasestorage.googleapis.com/v0/b/makaboom-4e68b.appspot.com/o/inspiring9.jpg?alt=media&token=ed8c884a-3d58-40da-a899-4ce354c5da10"
                            height="350" />
                            <div class="card-title">Show and Tell</div>
                            <div class="card-subtitle">The Robots We Made!</div>
                    </ion-card>
                </ion-col>    

                <!-- 
                <ion-col col-12 col-md-4>
                    <ion-card class="card" (click)="locationManage()">
                        <img src="https://firebasestorage.googleapis.com/v0/b/prototype-d68e4.appspot.com/o/note-2527458_1920.png?alt=media&token=cfc7ee83-070b-44a6-a473-0d6cbb3c7bd0"
                            height="350" />
                        <div class="card-title">위치별 조회</div>
                        <div class="card-subtitle">Search by location</div>
                    </ion-card>
                </ion-col>-->
            </ion-row>
        </div>

<!-- 
        <ion-footer class="desktop">
            <ion-toolbar color="dark">
                <ion-grid>
                    <ion-row>
                        <ion-col col-3>
                            <ion-title margin-top>Palm CLOUD</ion-title>
                        </ion-col>
                        <ion-col col-3></ion-col>
                        <ion-col col-3></ion-col>
                        <ion-col col-3>
                            <ion-title style="text-align:right">
                                <font size="3px">ZadPARk@palmCLOUD.co.kr</font>
                            </ion-title>
                            <ion-title style="text-align:right">
                                <font size="2px">Powered by Palm CLOUD</font>
                            </ion-title>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-toolbar>
        </ion-footer> -->


    </div>

    <!--*********** Promotion View  ***********-->
    <div *ngIf="viewType==='Notice'">
        <ion-grid>
            <ion-row>
                <ion-col col-12 col-md-4 *ngFor="let item of items">
                    <div class="card" margin-top padding tappable (click)="openNoticeDetailPage(item)">
                        <h2 style="color : white">
                            <strong>{{item.title}}</strong>
                        </h2>
                        <p style="color : white">{{item.writer}}</p>
                        <p style="color : white">{{item.timestamp | date}}</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>


        <!--<ion-list class="wave">
        <ion-item tappable (click)="openNoticeDetailPage(item)" *ngFor="let item of items">
            <h2>{{item.title}}</h2>
            <p>{{item.writer}}, {{item.timestamp | date}}</p>
        </ion-item>
    </ion-list>-->

        <ion-fab right bottom>
            <button color="grey-blue" (click)="manage()" ion-fab>
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-fab>
    </div>
</ion-content>