<style>
  @media screen and (max-width: 600px) {
    .web {
      display: none;
    }
    .mobile {
      display: block;
    }
  }

  @media screen and (min-width: 600px) {
    .web {
      display: block;
    }
    .mobile {
      display: none;
    }
  }
</style>


<ion-header>
  <ion-navbar color="primary">
    <ion-title>User Log</ion-title>
  </ion-navbar>
  <div class="mobile">
    <ion-toolbar no-border-top color="grey-blue">
      <ion-segment [(ngModel)]="viewType" color="light">
        <ion-segment-button value="Repair">
          정비 이력
        </ion-segment-button>
        <ion-segment-button value="Stock">
          재고 관리 이력
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>
</ion-header>


<ion-content padding [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <div class="web">
    <div id="repair">
      <div *ngIf="repairdata===true">
        <div class="container">
          <div style="color:white">
            <h3>정비 이력</h3>
            <ul>
              <li *ngFor="let repairlog of repairlogList">
                <span></span>
                <div>
                  <div class="title">{{repairlog.title}}</div>
                  <div class="info">{{repairlog.description}}</div>
                </div>
                <span class="number">
                  <span>{{repairlog.timestamp | date}}</span>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div *ngIf="repairdata===false">
        <div style="color:white">
          <h3>No repair data exist.</h3>
        </div>
      </div>

    </div>

    <div id="stock">
      <div *ngIf="stockdata===true">
        <div class="container">
          <div style="color:white;">
            <h3>재고 관리 이력</h3>
            <ul>
              <li *ngFor="let stocklog of stocklogList">
                <span></span>
                <div>
                  <div class="title">{{stocklog.model}}</div>
                  <div class="info">{{stocklog.type}}</div>
                  <div class="type">{{stocklog.changed_quantity}}</div>
                </div>
                <span class="number">
                  <span>{{stocklog.timestamp | date}}</span>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div *ngIf="stockdata===false">
        <div style="color:white">
          <h3>No stock data exist.</h3>
        </div>
      </div>
    </div>


  </div>



  <div class="mobile">
    <div *ngIf="viewType==='Repair'">

      <div class="container">
        <ul>
          <li *ngFor="let repairlog of repairlogList">
            <span></span>
            <div>
              <div class="title">{{repairlog.title}}</div>
              <div class="info">{{repairlog.description}}</div>
            </div>
            <span class="number">
              <span>{{repairlog.timestamp | date}}</span>
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="viewType==='Stock'">
      <div class="container">
        <ul>
          <li *ngFor="let stocklog of stocklogList">
            <span></span>
            <div>
              <div class="title">{{stocklog.model}}</div>
              <div class="info">{{stocklog.type}}</div>
              <div class="type">{{stocklog.changed_quantity}}</div>
            </div>
            <span class="number">
              <span>{{stocklog.timestamp | date}}</span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>


</ion-content>