page-stock-manage {
    .item-align {
        -webkit-align-items:  flex-start !important;
        -ms-flex-align:  flex-start !important;
        align-items:  flex-start !important;
    }
    .card{
        // background-color : rgba(53,92,125,.5);
        background-color : rgba(0,0,0,0.4);
      }

    
      
}
